html,body{
    min-height: 100%;
    min-width: 100%;
    
}
.chat-main{
    display:grid;
    grid-template-rows: 1fr 4fr 1fr;
    width: 45rem;
    height: 40rem;
    margin: 0 auto;
}
.chat-text{
    overflow: scroll;
    margin:  15px;
}
li{
    list-style: none;
}